@charset "utf-8";

.indexCat { margin:0px; padding:0px; list-style:none; }

.indexCat li { margin-right:5px;margin-top:7px; }

.indexCat li div { 
		display:block; width:135px; height:135px; 
		/*border:1px solid #ccc; */
		
		background:#f8f8f8 url(/img/whiteBg.png) top left no-repeat; 
		text-align:center; 
}
.indexCat li div:hover { 
		 
		background:url(/img/whiteBg.png) top right no-repeat;
}

.imageGrp1 { margin-right:5px; }

.imageGrp1 img, .imageGrp2 img { left:10px;top:0px }

span.catName { margin:10px 10px 0px; }

.points2 li { float:left; margin-right:5px; margin-top:0px; width:118px; }
.points2 li a { background:url(/img/whiteBg.png) left -160px no-repeat;
	height:115px; width:112px; background-repeat:no-repeat; display:block; }
.points2 li a:hover { background:url(/img/whiteBg.png) right -160px no-repeat;
	background-repeat:no-repeat; display:block; }
	
.priceBox .css3But1 {
	padding: 0 .25em;
    width: 130px !important;  /* IE table-cell margin fix */
    overflow: visible;
	}
	
.adjust1 { margin-left:70px; }
.inlineBlock { display:inline; zoom:1; }
.inlineBlockElement, .retailAddBox, .retailImage { zoom:1; display:inline; }
.inIEretailImage { float:left; }
.inlineBlockElementNew {  }